:root {
    --cor-principal: #326690;
}

a:hover {
    text-decoration: none;
}

#container {
    background-color: var(--cor-principal);
}

.list-group-item {
    border-width: 0 0 1px 0;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid var(--cor-principal);
}
